@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --color-brand: #0b8260;
  --color-brand-custom: #e6f4f2;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-danger: #F43F5E;
  --color-info: #3B82F6;

  --font-heading: "Inter", sans-serif;
  --font-body: "Roboto", sans-serif;

  --radius-2xl: 16px;
  --radius-xl: 12px;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@layer base {
  body {
    @apply bg-[#F8FAFC] text-slate-900;
  }
}